@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-left: 4rem;
}

.line {
  border: 1px solid #fff;
  opacity: 0.2515;
  width: 47.3rem;
  margin-left: 6.4rem;
}

.navbar-list {
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  height: 9.6rem;
  width: 83rem;
  letter-spacing: 2.7px;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar-list li {
  text-transform: uppercase;
  transition: all 1s;
}

.navbar-list li:hover {
  cursor: pointer;
  color: #e5dbdbf8;
  text-decoration: underline;
  text-underline-offset: 40px;
  text-decoration-thickness: 2px;
}

.navbar-serial-no {
  font-weight: 700;
}

.active {
  text-decoration: underline;
  text-underline-offset: 40px;
  text-decoration-thickness: 2px;
}
