.space-tourism {
  background-image: url(./assets/crew/background-crew-desktop.jpg);
  min-height: 100vh;
}

.crew-meet {
  font-family: "Barlow Condensed";
  font-size: 2.8rem;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  margin-left: 15rem;
  margin-top: 1rem;
}

.crew-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.crew-no {
  font-weight: 700;
  opacity: 0.25;
}

.crew-post {
  font-family: " Bellefair";
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5042;
}

.crew-name {
  font-family: " Bellefair";
  font-size: 5.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1.5rem 0 2rem 0;
}

.crew-description {
  width: 44.4rem;
  color: #d0d6f9;
  font-family: "Barlow";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.crew-change-circle {
  display: flex;
  gap: 2rem;
  margin-top: 8.8rem;
}

.circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  opacity: 0.1744;
  background: #fff;
  transition: all 0.3s;
}

.circle:hover {
  cursor: pointer;
  opacity: 0.5;
}

.circle-active {
  background: #fff;
  border-radius: 100%;
  opacity: 1;
}

/* responsive for tablet  */

@media (max-width: 67.5rem) {
  .space-tourism {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
    background-size: cover;
  }

  .crew-meet {
    font-size: 20px;
    letter-spacing: 3.375px;
    margin-top: 4rem;
    margin-left: 4rem;
  }

  .crew-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    gap: 4rem;
  }

  .crew-post {
    font-size: 2.4rem;
    opacity: 0.4994;
  }

  .crew-name {
    font-size: 4rem;
  }

  .crew-description {
    width: 45.8rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .crew-change-circle {
    margin-top: 4rem;
    justify-content: center;
  }

  .circle {
    width: 1rem;
    height: 1rem;
  }

  .crew-member-img img {
    width: 35rem;
  }
}
