.space-tourism {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  min-height: 100vh;
}

.destination-picker {
  font-family: "Barlow Condensed";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  margin: 7rem 0 6rem 15rem;
}

.destination-no {
  opacity: 0.25;
  font-weight: 700;
}

.destination-page {
  display: flex;
  justify-content: center;
  gap: 15rem;
}

.destination-options ul {
  display: flex;
  gap: 3.6rem;
}

.destination-options ul li {
  list-style: none;
  color: #fff;
  font-family: "Barlow Condensed";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  transition: all 1s;
}

.destination-options ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 2px;
}

.destination-active {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 2px;
}

.heading {
  font-family: "Bellefair";
  font-size: 10rem;
  font-style: normal;
  font-weight: 400;
  margin: 3.7rem 0 1.4rem 0;
  text-transform: uppercase;
}

.destination-description {
  width: 44.4rem;
  color: #d0d6f9;
  font-family: "Barlow";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  margin-bottom: 5.4rem;
}

.destination-page-line {
  width: 44.4rem;
  height: 1px;
  background: #383b4b;
  margin-bottom: 2.8rem;
}

.distance-travel-time {
  display: flex;
  gap: 7.9rem;
}

.distance-travel-time h2 {
  color: #d0d6f9;
  font-family: "Barlow Condensed";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.distance-travel-time p {
  font-family: "Bellefair";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

/* responsive for tablet  */

@media (max-width: 67.5rem) {
  .space-tourism {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
    background-size: cover;
  }

  .destination-picker {
    font-size: 20px;
    letter-spacing: 3.375px;
    margin-top: 4rem;
    margin-left: 4rem;
  }

  .destination-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
  }

  .logo img {
    width: 35rem;
  }

  .destination-options ul {
    justify-content: center;
  }

  .heading {
    font-size: 8rem;
  }

  .destination-description {
    width: 57.3rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.8rem;
  }

  .destination-page-line {
    width: auto;
  }

  .distance-travel-time {
    justify-content: center;
  }
}

/*  responsive for mobile */

@media (max-width: 38.12rem) {
  .space-tourism {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
  }

  .destination-picker {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    margin: 3.2rem 0;
  }

  .logo img {
    width: 25rem;
  }

  .destination-page {
    gap: 3.2rem;
  }

  .destination-options ul {
    font-size: 1.4rem;
    letter-spacing: 2.362px;
  }

  .heading {
    font-size: 5.6rem;
    margin: 2rem 0 1rem 0;
  }

  .destination-description {
    width: 32.7rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 3.2rem;
  }

  .distance-travel-time {
    flex-direction: column;
    gap: 3.2rem;
  }
}
